<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alforria</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>Alforria</h1>

        <p>Sistema de pesquisa de reservas</p>

        <button onclick="novaPesquisa()">Nova pesquisa</button>

    </div>

    <script>
        function novaPesquisa() {
            alert("Nova pesquisa");
        }
    </script>

</body>
</html>
